.Home{
    margin-top: -2rem;
}

.Home__title {
    font-weight: 600;
    margin-bottom: 0;
}

.Home__date {
    font-size: .8rem;
    margin-top: .5rem;
    font-weight: normal;
    margin-bottom: 0;
}