.ForgotPassword {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

.ForgotPassword__input{
    padding: .5rem 1rem;
    border-radius: 8px;
    border: 1px solid black;
}

.ForgotPassword__input:focus-visible{
    border-color: var(--blue);
    outline: none;
}

.ForgotPassword__button {
    padding: .8rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white
}

.ForgotPassword__error{
    color: red;
    margin: 0;
}
.ForgotPassword__message{
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: var(--bg-gray);
}

.ForgotPassword__back {
    color: var(--blue);
}